@font-face{
    src: url("../fonts/Figtree-Bold.ttf");
}

@font-face{
    src: url("../fonts/Figtree-ExtraBold.ttf");
}

@font-face{
    src: url("../fonts/Figtree-Black.ttf");
}

@font-face{
    src: url("../fonts/Figtree-Light.ttf");
}

@font-face{
    src: url("../fonts/Figtree-Medium.ttf");
}

@font-face{
    src: url("../fonts/Figtree-Regular.ttf");
}

@font-face{
    src: url("../fonts/Figtree-SemiBold.ttf");
}